@import "../SCSS/style-null.scss";

.container {
    max-width: 1140px;
    margin: auto;
}
.head {
    background-color: #222222;
    width: 1600px;
    height: 75px;
}
.head__bar {
    display: flex;
}
.head__logo {
    padding: 18px 40px 18px 0px;
}
.head__search {
    padding: 28px 859px 20px 0px;
}
.head__menu {
    padding: 30px 33px 22px 0px;
}
.head__account {
    padding: 26px 33px 20px 0px;
}
.head__basket {
    padding: 26px 0px 20px 0px;
}
