@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.bigred {
  font-size: 20px;
  color: red;
}

/*Шапка сайта*/
.container {
  max-width: 1140px;
  margin: auto;
}

.head {
  background-color: #222222;
  height: 75px;
}

.head__bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.head__logo {
  padding: 18px 40px 18px 0px;
}

.head__search {
  padding: 28px 859px 20px 0px;
}

.head__menu {
  padding: 30px 33px 22px 0px;
}

.head__account {
  padding: 26px 33px 20px 0px;
}

.head__basket {
  padding: 26px 0px 20px 0px;
}

/*--------------------*/
/*Первый блок основного контента*/
.block-1__backgraund {
  background-color: #f1e4e6;
}

.block-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 764px;
}

.block-1__img {
  height: 764px;
}

.title__rectangle {
  background-color: #f16d7f;
  width: 12px;
  height: 92px;
  margin: 290px 16px 0px 64px;
}
